
.container{
   display:flex;
   font-family:sans-serif;
   margin: 0 auto;
}
#banner{
   background-color:white;
   color:black;
   padding:0px;
}
#leftbanner{
   flex:1.25;
   text-align:center;
   font-size:23px;
}
#rightbanner{
   flex:10;
   text-align:center;
   font-size:larger;
}
nav a{
   background-color:#800000;
   display:flex;
   flex:1;
   padding:20px;
   text-align:center;
   transition:0.5s;
   color:white;
   font-size:20px;
}
nav a:hover{
   background-color:white;
   color:#ff0000;
   transition:0.5s;
}
nav{
   box-shadow:0px 3px 0px rgb(155, 155, 155);
}
a{
  text-decoration:none;
}

#footer{
  background-color:#008000;
  color:white;
  padding:5px;
  text-align: center;
  justify-content: center;
}
#main{
   display:flex;
   justify-content: center;
   flex:5;
   font-size:20px;
}
#sample{
   display:flex;
   justify-content: center;
   flex:5;
   font-size:20px;
}
#content{
   display:flex;
   text-align: center;
   justify-content: center;
   padding: 5px;
   align-items: center;
   flex:8;
}
#links{
   flex-direction:column;
   border-right-style: solid;
   border-right-color: grey;
   flex:0.7;
}



#content-container {
   background-image: url('RUSSIA-BACKGROUND.jpg'); 
   background-size: cover; 
   background-position: center; 
   background-repeat: no-repeat; 
   padding: 20px;
   height: 750px;
   display: flex;
   flex: 1;
}


.Welcome {
   color: rgb(150, 0, 0);
   font-size: 100px;
}

#content-container h1{
   background-color: rgb(0, 0, 0);
}

